@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,600,700|Playfair+Display:400,700,900&display=swap');

body {
    margin: 0px;
}

/* HEADER/NAVIGATION */

header {
    height: 30vh;
    width: 100%;
    background-color: #ffffff;
}

.logo-img {
    height: 100px;
    width: 100px;
    margin: auto;
}

.link {
    display: flex;
    padding-top: 1%;
}

h1, h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}


/* MAIN */

main {
    height: 280vh;
    width: 100%;
}

/* About */

.about {
    height: 80vh;
    width: 100%;
    background-color: #95954c;
}

.dominique {
    height: 355px;
    width: 343px;
    display: block;
    margin: auto;
}

.about-photo, .about-bio {
    width: 48%;
    float: left;
}

.about-photo {
    padding-top: 3%;
}

.about-bio p {
    font-family: 'Playfair Display', serif;
}

/* Assets */

.assets {
    height: 220vh;
    width: 100%;
    background-color: #f3efea;
}

.asset {
    width: 48%;
    float: left;
    padding-bottom: 2%;
}

.asset h3, p {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

form {
    margin-left: 36%;
}

.moodboard {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}

.branding-guide {
    height: 250px;
    width: 200px;
    display: block;
    margin: auto;
}

.business-card {
    height: 250px;
    width: 200px;
    display: block;
    margin: auto;
}

.letterhead {
    height: 250px;
    width: 200px;
    display: block;
    margin: auto;
}

.thank-you-card {
    height: 389px;
    width: 200px;
    display: block;
    margin: auto;
}

.last {
    width: 100%;
    margin: auto;
}

/* FOOTER */

footer {
    height: 100px;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.phone, .email, .website {
    margin: auto;
}